.App {
    text-align: center;
    background: url('./planet.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.App .display-3 {
    color: #81ffe1;
    font-family: 'Exo 2', sans-serif;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
    .App h1 {
        font-size: 40px;
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1025px) {
    .App h1 {
        font-size: 55px;
    }
}
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
        .App h1 {
            font-size: 65px;
        }
}




