.App {
    text-align: center;
    background: url('./planet.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.App .display-3 {
    color: #81ffe1;
    font-family: 'Exo 2', sans-serif;
}


